body {
    background-image: url("http://img.karaoke-lyrics.net/img/artists/35563/marky-mark-445341.jpg");
}

#title  {
  	text-align: center;
    flex: 1 0 auto;
}

.container {
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}

.view-box {
	background-color: white;
  	border: 3px solid;
  	width: 25%;
  	height: 45%;
  	margin: 5px;
  	padding: 10px;
  	float: left;
}
